<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h4>Welcome to Full-Stack-Dev Exercise</h4>

        <form action="/result" method="POST">
            <label for="name">Name<req>*</req></label>
            <input type="text" id="name" name="name" value="" required>
            
            <label for="email">Email<req>*</req></label>
            <input type="email" id="email" name="email" value="" required>

            <label for="mobile">Contact<req>*</req></label>
            <input type="tel" id="mobile" name="mobile" value="" required>

            <label for="url">LinkedIn/Portfolio URL</label>
            <input id="url" type="url" name="url" maxlength="100" placeholder="www.example.com/abc" value="" required>

            <label for="experience">Experience<req>*</req></label>
            <input type="number" id="experience" name="experience" min="0" max="30" value="" required>

            <label for="dob">Date of Birth<req>*</req></label>
            <input type="date" id="dob" name="dob" value="" required>

            <label for="gender">Gender<req>*</req></label>
            <select id="gender" name="gender" required>
                <option>Select one</option>
                <option>Male</option>
                <option>Female</option>
                <option>Prefer not to say</option>
            </select>

            <label>Skills</label>
            <div class="checkbox-group">
                <label><input type="checkbox" name="skills" value="HTML/CSS">&nbsp;HTML/CSS</label>
                <label><input type="checkbox" name="skills" value="Python">&nbsp;Python</label>
                <label><input type="checkbox" name="skills" value="JavaScript">&nbsp;JavaScript</label>
                <label><input type="checkbox" name="skills" value="C#">&nbsp;C#</label>
                <label><input type="checkbox" name="skills" value="ASP.NET">&nbsp;ASP.NET</label>
                <label><input type="checkbox" name="skills" value="C++">&nbsp;C++</label>
                <label><input type="checkbox" name="skills" value="Mongo DB">&nbsp;Mongo DB</label>
                <label><input type="checkbox" name="skills" value="Express.js">&nbsp;Express.js</label>
                <label><input type="checkbox" name="skills" value="React.js">&nbsp;React.js</label>
                <label><input type="checkbox" name="skills" value="Node.js">&nbsp;Node.js</label>
                <label><input type="checkbox" name="skills" value="Next.js">&nbsp;Next.js</label>
            </div>
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>
</body>
</html>
